.display {
display: flex;
justify-content: space-evenly;
}

.home-link {
  background-color: rgba(37, 50, 93); 
  font-size: large;
  padding: 0 10px 0 10px;
  transition-duration: 0.4s;
}

.home-link:hover {
  background-color: rgba(147, 108, 189)
}

.entries-link {
  background-color: rgba(37, 50, 93);
  font-size: large;
  padding: 0 10px 0 10px;
  transition-duration: 0.4s;
}

.entries-link:hover {
  background-color: rgba(147, 108, 189);
}

.about-link {
  background-color: rgba(245, 110, 112);
  font-size: large;
  padding: 0 10px 0 10px;
  transition-duration: 0.4s; 
}

.about-link:hover {
  background-color: rgba(147, 108, 189)
}

@media (min-width: 1200px) {
  .about-link {
    height: 35px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .home-link {
    height: 35px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .entries-link {
    height: 35px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  a {
    margin: 8px
  }
  }